body
{margin: 0;padding: 0;font-size: 12px;font-family: "Microsoft YaHei",Helvetica,Verdana,sans-serif;}
h1, h2, h3, h4, p, table, tr, td, ul, li, a, img, input, div,br
{ padding: 0;margin: 0; border: none;}
img
{width: 100%;border: none;}
li
{ list-style: none;}
br
{ clear:both; width:100%; height:0px; line-height:0px;}
.clear
{clear: both; width: 100%;height: 0;}

/*-------------top logo------------*/
.toplogo
{ width:100%; background:#c91f1f; height:4em;}
.toplogo a.logoa
{ display:block; width:27%; height height:auto; float:left; height:3em; line-height:3em; margin-top:0.5em; }
.toplogo a.logoa img
{ display:block; width:auto; height:3em;}
.toplogo a.logotel
{ display:block; width:7em; float:right; margin-top:1em; margin-right:2%; background:url(images/logoTel.png) no-repeat left; background-size:auto 90%; color:#fff; text-decoration:none; text-align:right; font-size:1.2em;}
/*-------------top logo end------------*/

/*------home page------*/
.home_bigtools
{ width:100%;}
.home_bigtools ul
{ width:100%; border-bottom:1px solid #e1e1e1;}
.home_bigtools ul li
{ width:25%; float:left; height:7em;}
.home_bigtools ul li a
{ display:block; width:99%; border-left:1px solid #e1e1e1; height:7em; color:#98a0af; text-decoration:none; text-align:center;}
.home_bigtools ul li a img
{ height:2.5em; width:auto; display:block; margin:0 auto; padding-top:1.5em; padding-bottom:1em;}
.hp_room
{ width:100%; height:1em; background:#f5f5f5; clear:both;}


.hp_ad
{ width:100%; clear:none; float:none;position:relative;}
.hp_ad img
{ width:100%; height:auto;}
.hp_ad .hp_adcon
{ width:100%;position:absolute;left:0;top:0; color:#fff;}
.hp_ad .hp_adcon h2
{ font-size:1.5em; line-height:2em;}
.hp_ad .hp_adcon p
{ font-size:0.8em; line-height:1.7em; font-weight:bolder;}
.hp_ad .con1 h2,.hp_ad .con1 p
{ padding-left:30%;}
.hp_ad .con2 h2,.hp_ad .con2 p
{ padding-left:5%;}

.hp_redh2
{ width:100%; background:#de3135; color:#fff;}
.hp_grh3
{ width:100%; background:#f5f5f9; color:#4d4f61; font-size:1.2em; line-height:3em; text-indent:5%;}
.hp_grh3 span
{ display:block; float:left; line-height:3em; height:3em;}
.hp_grh3 a
{ display:block; float:right; line-height:3em; height:3em; text-decoration:none; color:#fa7b68; padding-right:5%;}
.hp_redh2 a
{ display:block; width:100%; text-align:center; font-size:1em; line-height:2.3em; color:#fff; text-decoration:none;}
.hp_botad
{ display:block; width:100%;}
.hp_botad img
{ display:block; width:100%;}

.hp_news_list1
{ width:100%;}
.hp_news_list1 ul
{ width:100%;border-top:1px solid #e1e1e1;}
.hp_news_list1 ul li
{ display:block; float:none; clear:both; width:100%; position:relative; border-bottom:1px solid #e1e1e1; padding-bottom:0.8em;}
.hp_news_list1 ul li a
{ display:block; float:left; font-size:1.3em; line-height:1.5em; text-decoration:none; color:#424146; padding-left:5%; width:80%; padding-top:0.8em;}
.hp_news_list1 ul li a.hp_news_list1_jian
{ background:url(images/news1.png) no-repeat left top; background-size:6% auto;}
.hp_news_list1 ul li a.hp_news_list1_xin
{ background:url(images/news2.png) no-repeat left top; background-size:6% auto;}
.hp_news_list1 ul li span
{ display:block; float:right; position:absolute; bottom:1em; right:2%; padding-left:1.8em; background:url(images/news3.png) no-repeat left; background-size:auto 1.5em; color:#a4a4a5;}

.hp_news_list2
{ width:100%;}
.hp_news_list2 ul
{ width:100%;border-top:1px solid #e1e1e1;}
.hp_news_list2 ul li
{ display:block; float:none; clear:both; width:100%; position:relative; border-bottom:1px solid #e1e1e1; padding-bottom:0.8em; background:url(images/news4.png) no-repeat 4%; background-size:auto 1.2em;}
.hp_news_list2 ul li a
{ display:block; float:left; font-size:1.3em; line-height:1.5em; height:1.5em; text-decoration:none; color:#424146; padding-left:9%; width:75%;text-overflow:clip;overflow:hidden;  padding-top:0.8em; }
.hp_news_list2 ul li a.hp_news_list2_jian
{ background:url(images/news1.png) no-repeat left top; background-size:6% auto;}
.hp_news_list2 ul li a.hp_news_list2_xin
{ background:url(images/news2.png) no-repeat left top; background-size:6% auto;}
.hp_news_list2 ul li span
{ display:block; float:right; position:absolute; bottom:1em; right:2%; padding-left:1.8em; background:url(images/news3.png) no-repeat left; background-size:auto 1.5em; color:#a4a4a5;}

.hp_news_list3
{ width:100%;}
.hp_news_list3 ul
{ width:100%;border-top:1px solid #e1e1e1;}
.hp_news_list3 ul li
{ width:100%; clear:both; float:none;  padding-bottom:0.6em; border-bottom:1px solid #e1e1e1;}
.hp_news_list3 ul li a
{ display:block; width:100%; text-decoration:none; border:none;}
.hp_news_list3 ul li a .hp_news_list3_itemleft
{ width:73%; float:left; padding-top:0.6em;}
.hp_news_list3 ul li a .hp_news_list3_itemleft p
{ display:block;  width:85%; padding-left:10%; font-size:1.2em; line-height:1.5em; color:#424146;}
.hp_news_list3 ul li a .videojian
{background:url(images/news1.png) no-repeat left top; background-size:6% auto;}
.hp_news_list3 ul li a .videoxin
{background:url(images/news2.png) no-repeat left top; background-size:6% auto;}
.hp_news_list3 ul li a  .hp_news_list3_itemleft span
{display:block;  padding-left:1.8em; margin-left:10%; padding-top:0.5em; background:url(images/news3.png) no-repeat left 0.3em; background-size:auto 1.5em; color:#a4a4a5; }
.hp_news_list3 ul li a img
{ display:block; width:24%; height:auto; float:right; margin-right:3%; padding-top:0.6em; padding-bottom:0.6em;}

.hp_footerbig
{ width:100%; background:#f5f5f9;}
.hp_footerbig ul
{ width:100%; padding-top:0.6em; padding-bottom:0.6em;}
.hp_footerbig ul li
{ width:24%; border-left:1px solid #cbcaca; float:left; line-height:1.4em; text-align:center; margin-top:0.6em; margin-bottom:0.6em;}
.hp_footerbig ul li.noling
{border-left:none;}
.hp_footerbig ul li a
{ font-size:1.1em; text-decoration:none; color:#424146;}

.indexspNew
{ width:100%; clear:both;}
.indexspNew .indexspNew_item
{ width:33%; float:left;}
.indexspNew .indexspNew_item ul
{ width:90%; margin:0 auto; border:1px solid #e1e1e1;}
.indexspNew .indexspNew_item ul li
{ width:100%; font-size:0.9em; line-height:2.5em; border-bottom:1px dotted #e1e1e1; text-align:center;}
.indexspNew .indexspNew_item h2
{ width:90%; margin:0 auto; border:1px solid #e1e1e1; border-bottom:none; font-size:1.1em; text-align:center; line-height:2.7em; background:#eb4131; color:#fff;}
.indexspNew .indexspNew_item h2.gry
{ background:#7e7e7e;}
.indexspNew .indexspNew_item h2.gre
{ background:#1bbe2e;}
.indexspNew .indexspNew_item ul li.nob
{ border-bottom:none;}
.indexspNew .indexspNew_item ul li a
{ width:100%; font-size:1em; text-decoration:none; text-decoration:none; color:#45474c;}
.indexspNew_p
{ width:100%; text-align:center; clear:both; padding-top:1em;}
.indexspNew_p a
{ display:inline-block; padding-left:0.5em; padding-right:0.5em; font-size:1.1em; line-height:2.5em; background:#eb4131; text-align:center; text-decoration:none; margin-right:0.5em; color:#fff;-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;}
.indexspNew_p a.gry
{ background:#45474c;}
/*------home page------*/

/*------News Page---(11-14)-----*/
.newstop
{ width:100%; background:url(images/newsTop.png) no-repeat left #c91f1f; background-size:auto 100%; height:4em; position:relative;} 
.newstop a
{  height:4em; display:block; float:left; width:20%;}
.newstop a.pro_logoa
{ position:absolute; font-size:1.2em; top:1.2em; right:2.5em; font-weight:bolder; width:3em; color:#fff; text-decoration:none;}
.newstop a.pro_logoa2
{ position:absolute;  font-size:1.2em;top:1.2em; right:0em; width:3em; font-weight:bolder;color:#fff; text-decoration:none;}
.newstop a img
{ height:4em; width:auto;}
.newstop p
{ display:block; width:75%; padding-right:5%; line-height:2.7em; color:#fff; font-size:1.5em; float:right; text-align:center;}
.newstop p.sml
{ font-size:1em; line-height:4em;}
.newstop p.sm2
{ text-align:left;font-size:1em; line-height:4em; text-indent:2em;}
.news_h3
{ clear:both; width:100%; background:#404040; font-size:1.5em; line-height:2.5em;}
.news_h3 a
{ color:#fff; text-decoration:none; padding-left:4%;}
.news_list1
{ width:100%;}
.news_list1 ul
{ width:100%; border-top:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1;}
.news_list1 ul li
{ width:100%; font-size:1.2em; line-height:2em; border-bottom:1px dashed #dddddd; padding-top:0.3em; padding-bottom:0.3em;}
.news_list1 ul li.noline
{ border-bottom:none;}
.news_list1 ul li a
{ color:#424146; text-decoration:none;background:url(images/news5.png) no-repeat 0.6em 0.8em; background-size:0.4em auto;  display:block;font-size:1em; line-height:2em; padding-left:1.3em; padding-right:0.5em;}
.news_list2
{ width:100%;}
.news_list2 ul
{ width:100%; border-top:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1;}
.news_list2 ul li
{ width:100%; font-size:1.2em; line-height:2em; border-bottom:1px dashed #dddddd; padding-top:0.3em; padding-bottom:0.3em;}
.news_list2 ul li.noline
{ border-bottom:none;}
.news_list2 ul li a
{ color:#424146; text-decoration:none;background:url(images/news6.png) no-repeat 0.6em 0.6em; background-size:1em auto;  display:block;font-size:1em; line-height:2em; padding-left:1.8em; padding-right:0.5em;}


.news_map
{ width:100%; font-size:1.1em; line-height:3em; background:#f5f5f9; color:#4d4f61; text-indent:0.2em; font-weight:normal;}
.news_map a
{ text-decoration:none; color:#4d4f61; padding-left:0.3em; padding-right:0.3em;}
.news_page
{ clear:both; width:100%; height:auto;}
.news_page p.page_p
{ width:100%; background:#ededed; padding-top:0.5em; padding-bottom:0.5em; text-align:center; font-size:1.2em;}
.news_page p.page_p a
{ display:inline-block; padding:0.3em; padding-left:0.5em; padding-right:0.5em; color:#4d4f61; text-decoration:none; background:#fff;}
.news_page p.page_p a.page_cur
{ background:#c21f28; color:#fff;}
.news_page p.page_tools
{ width:100%; background:#fff;padding-top:0.9em; padding-bottom:0.9em; text-align:center;}
.news_page p.page_tools a
{ color:#4d4f61; text-decoration:none; font-size:1.4em;}
.news_con
{ width:95%; margin:0 auto; padding-top:1em;}
.news_con h2
{ width:95%; margin:0 auto; font-size:1.3em; line-height:1.5em; text-align:left;}
.news_con h2.contt
{ text-align:center;}
.news_con p
{ font-size:1.1em; line-height:1.5em; text-indent:2em;}
.news_con p.pr
{ text-align:right;}
.news_con p.infop
{ width:100%; margin:0 auto; color:#9a9a9a; border-bottom:1px solid #e1e1e1; padding-bottom:0.8em; padding-top:0.5em; text-indent:0;}
.news_con p.infop span
{ display:block; width:50%; float:left; text-indent:1em;}
.news_con p.infop span.sp2
{  text-indent:4em;}
.news_con p.videop
{ text-indent:0;}
.news_video
{ width:100%; height:auto;}
.news_video img
{ width:100%;}
.news_video_tt
{ width:100%; height:2.5em; font-size:1.3em; line-height:2.5em; background:url(images/videottbg.gif) repeat-x bottom #f5f5f9; }
.news_video_tt span
{ color:#4d4f61; display:block; width:25%; height:2.4em; text-align:center; border-bottom:0.1em solid #c91f1f;}

.news_video_tools
{ width:90%; margin:0 auto; border:1px solid #e1e1e1; background:#f5f5f9;}
.news_video_tools table
{ width:100%;padding-top:0.3em; padding-bottom:0.3em;}
.news_video_tools table td
{ width:50%; text-align:left; text-indent:2em; padding-top:0.3em; padding-bottom:0.3em; font-size:1.3em; color:#747474;}
.news_video_tools table td span
{ color:#424146;}
.news_video_tools table td span.cosp
{ font-size:0.8em; color:#a4a4a5; display:block; background:url(images/news3.png) no-repeat 2.5em; background-size:auto 100%; width:100%;text-indent:4em;}
.news_video_tools table td a
{ display:block; width:70%; background:#63c966; color:#fff; font-size:1em; text-align:center; text-indent:0; line-height:2em; text-decoration:none; margin:0 auto;}
.news_video_tools table td a.orga
{ background:#ff6b00;}
/*------News Page end---(11-14)-----*/

/*---------Pro Page-----(15-17)---------------*/
.pro_boder
{ width:100%; height:auto;border-bottom:1px solid #e1e1e1;border-top:1px solid #e1e1e1;}
.pro_list1
{ clear:both; width:90%; margin:0 auto; border:1px solid #e1e1e1; border-top:none; background:url(images/pro_listTop.gif) repeat-x top #fff; margin-top:1.5em;}
.pro_list1 h2
{ width:100%; font-size:1.4em; line-height:2.5em; border-bottom:1px solid #e1e1e1; color:#ee491f; text-indent:0.5em;}
.pro_list1 h2 span
{ width:30%; border-top:2px solid #ee491f; display:block;}
.pro_list1 ul
{ width:100%; padding-top:0.5em; padding-bottom:0.5em;}
.pro_list1 ul li
{ width:33%; float:left; display:block; text-align:center; font-size:1.2em; line-height:2.3em;}
.pro_list1 ul li a
{ color:#424146; text-decoration:none;}
.pro_list1 a.pro_morea1
{ display:block; width:100%; border-top:1px solid #e1e1e1; background:#f5f5f9; text-align:center; color:#424146; font-size:1.5em; padding-top:0.7em; padding-bottom:0.7em; text-decoration:none;}
.pro_list1 a.pro_morea1 img
{ width:0.8em; height:auto;}
.pro_list2
{ width:100%; border-top:1px solid #e1e1e1; padding-top:0.5em;}
.pro_list2 ul
{ clear:both; width:100%; }
.pro_list2 ul li
{ width:100%; padding-top:0.7em; padding-bottom:0.7em; border-bottom:1px dashed #e1e1e1;}
.pro_list2 ul li.nobor
{ border-bottom:none;}
.pro_list2 ul li h2
{ width:90%;margin:0 auto; font-size:1.4em; line-height:1.5em; padding-bottom:0.5em; color:#424146;}
.pro_list2 ul li .pro_list2_left
{ width:70%; display:block; float:left; font-size:1.1em; margin-left:5%; }
.pro_list2 ul li .pro_list2_left p
{ font-size:1.1em; line-height:1.5em; color:#666666;}
.pro_list2 ul li .pro_list2_left p span
{ color:#c91f1f;}
.pro_list2 ul li .pro_list2_left p b
{ font-weight:normal; text-decoration:line-through;}
.pro_list2 ul li a.pro_list2_righta 
{ display:block; width:10%; float:right; font-size:1.1em; color:#fff; background:#404040; height:2em; line-height:2em; text-align:center;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius:5px; text-decoration:none; padding-left:0.5em; padding-right:0.5em; margin-top:2.5em; margin-right:5%;}
.pro_list2 ul li p.pro_list2_botp
{ width:100%;width:90%;margin:0 auto; clear:both; font-size:1.1em; line-height:1.5em; padding-top:0.5em;color:#666666;}
.buytools
{ width:100%; text-align:center; padding-top:1em; padding-bottom:1.5em; border-bottom:1px solid #e1e1e1;}
.buytools a
{ display:inline-block; background:#de3135; color:#fff; font-size:1.3em; line-height:2.5em; padding-left:1em; padding-right:1em;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius:5px; text-decoration:none; margin-right:0.5em;}
.buytools a.yel
{ background:#f98700;}
.buytools2
{width:100%;  padding-top:1em; padding-bottom:1.5em; }
.buytools2 a
{ display:inline-block; background:#de3135; color:#fff; font-size:1.3em; line-height:2.5em; padding-left:1em; padding-right:1em;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius:5px; float:right; text-decoration:none; margin-right:1em;}
.buytools2 a.yel
{ background:#f98700;}
.pro_list3
{ width:100%; clear:both; border-top:1px solid #e1e1e1; }
.pro_list3 ul
{ width:100%; height:auto;}
.pro_list3 ul li
{ width:100%; border-bottom:1px solid #e1e1e1; padding-bottom:1em; padding-top:1em;}
.pro_list3 ul li table
{ width:95%; margin:0 auto; font-size:1em;}
.pro_list3 ul li table td
{ line-height:2em; color:#4d4f61; text-align:left;}
.pro_list3 ul li table td.lefttd
{ text-align:right; width:5em;}
.pro_list3 ul li table td span
{ color:#de3135;}
.pro_list3 ul li table td b
{ color:#009900;}
.pro_list3 ul li p
{ width:90%; margin:0 auto; text-align:right;}
.pro_list3 ul li p a
{ display:inline-block; color:#fff; text-decoration:none; background:#404040; padding-left:0.5em; padding-right:0.5em; line-height:1.5em;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
.pro_orderTotal
{ width:100%; border-bottom:1px solid #e1e1e1; font-size:1em; line-height:3.5em; background:#f5f5f9;  font-weight:normal; color:#4d4f61;}
.pro_orderTotal span.pro_orderTotal_l
{ display:block; width:43%; float:left; padding-left:2%;}
.pro_orderTotal span.pro_orderTotal_r
{ display:block; width:53%; float:right; padding-right:2%; text-align:right;}
.pro_orderTotal span.pro_orderTotal_r b
{ color:#de3135; font-weight:normal;}
.hp_input_p
{ width:100%; clear:both; padding-top:0.6em; padding-bottom:0.6em; color:#333;}
.topborder
{ border-top:1px solid #e1e1e1;}
.bottompborder
{ border-bottom:1px solid #e1e1e1;}
.hp_input_p span
{ font-size:1.2em; display:inline-block; width:20%;  text-align:right;}
.hp_input_p span.s1
{ width:30%;}
.hp_input_p input
{ width:70%; display:inline-block; border:1px solid #dddddd; line-height:2.5em;}
.hp_input_p input.s1
{ width:60%;}
.hp_input_p input.s2
{ width:30%;}
.hp_input_msg
{ width:80%; float:right; font-size:0.9em; color:#4d4f61; line-height:2.5em; padding-bottom:0.5em;}
.hp_input_msg span
{ color:#e54937;}
.pro_order_moneyh2
{ width:100%; border-bottom:1px solid #e1e1e1; clear:both; padding-top:0.5em; padding-bottom:0.7em; font-size:1.2em; vertical-align:middle; font-weight:normal; background:#f5f5f9;}
.pro_order_moneyh2 img
{ display:inline-block; height:1.5em; width:auto; padding-right:0.5em; padding-left:0.5em;color:#4d4f61;}
.pro_order_moneyh2 span
{ color:#de3135;}
.pro_order_moneyh2 input
{ background:none; border:1px solid #e1e1e1;}
.pro_order_moneyh2  a
{ text-decoration:none; color:#f98700; display:inline-block; float:right; padding-top:0.4em; padding-right:1em;}

.pro_list4bg
{ width:100%; clear:both; background:#f5f5f5; padding-top:0.5em; padding-bottom:1em;}
.pro_list4 
{ width:95%; margin:0 auto; background:url(images/pro_listTop.gif) repeat-y center #fff; margin-top:1em;}
.pro_list4 h2
{ width:100%; background:#fff; border-bottom:1px solid #e1e1e1; font-size:1.2em; line-height:2.5em; height:2.5em;}
.pro_list4 h2 span
{ margin-left:5%; padding-left:3%; border-left:4px solid #ef491f; }
.pro_list4 ul
{ width:100%;}
.pro_list4 ul li
{ width:50%; float:left; padding-top:1em; padding-bottom:1em;}
.pro_list4 ul li p
{ clear:both; width:90%; margin:0 auto; text-align:left; font-size:0.9em; line-height:1.5em;}
.pro_list4 ul li p span
{ color:#de3135;}
.pro_list4 ul li b
{ display:inline-block; float:right; text-decoration:line-through; font-weight:normal; color:#666666;}
.pro_list4 ul li img
{ display:block; width:80%; height:auto; margin:0 auto;}
.pro_list4 ul li p a
{ display:block; width:80%; font-size:1.3em; line-height:2em; background:#de3135; color:#fff; text-decoration:none; text-align:center; margin:0 auto; margin-top:0.5em;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
.pro_list4 .botroom
{ width:100%; clear:both; border-bottom:1px solid #e1e1e1; background:#fff; height:1.5em;}

.pro_bookitem
{ width:95%; margin:0 auto; padding-top:1.5em;}
.pro_bookitem h2
{ width:100%; font-size:1.2em; line-height:1.5em; padding-bottom:0.5em; color:#424146;}
.pro_bookitem  .newstop_img
{ width:40%; float:left; border:1px solid #e1e1e1; padding-top:1em; padding-bottom:1em;}
.pro_bookitem  .newstop_img img
{ display:block; width:90%; height:auto; margin:0 auto;}
.pro_bookitem .newstop_info
{ width:55%; float:left; padding-left:3%; padding-top:2em;}
.pro_bookitem .newstop_info p
{ font-size:0.9em; line-height:1.5em; padding-top:0.2em; padding-bottom:0.2em;}
.pro_bookitem .newstop_info a
{ display:block; clear:both; width:80%; margin:0 auto; font-size:1.4em; color:#fff; text-align:center; line-height:2em; margin-top:0.5em; text-decoration:none; background:#de3135;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
/*---------Pro Page End-----(15-16)---------------*/

/*----------My class ------(17)----------------------------------*/
.my_classh2
{ width:100%; clear:both; background:#f5f5f9; padding-top:0.5em; padding-bottom:0.5em; border-top:1px solid #e1e1e1; font-size:1.2em;}
.my_classh2 span
{ display:block; width:30%; float:left; text-indent:2.5em; float:left; background:url(images/tools7.png) no-repeat 0.5em; background-size:auto 80%; color:#4d4f61; line-height:2em;}
.my_classh2 span.card
{background:url(images/accountitem1.png) no-repeat 0.5em; background-size:auto 80%; width:50%; }
.my_classh2 span.pop
{background:url(images/order_pop.png) no-repeat 0.5em; background-size:auto 80%; width:50%; }
.my_classh2 span.cart
{background:url(images/accountitem2.png) no-repeat 0.5em; background-size:auto 80%; width:100%; }
.my_classh2 span b
{ color:#e54937; font-weight:normal;}
.my_classh2 a
{ display:block; width:4em; float:right; line-height:2em; color:#f98700; text-decoration:none; }
.my_classh2 a.red
{ color:#e54937;}
.my_classh2 a.blue
{ color:#46aef0;}
.my_class_card_tt
{ width:100%; font-size:1.2em; line-height:3em; background:url(images/pro_listTop.gif) repeat-x top #f5f5f9;}
.my_class_card_tt span
{ display:inline-block; width:30%; background:#fff; line-height:3em; border-top:2px solid #ef491f; color:#4d4f61; text-align:center;}
.my_class_card_tt span.nonosp
{ background:none; border:none;}
.my_class_card_con
{ width:100%; background:#fff; border-top:1px solid #e1e1e1; margin-top:-1px; padding-top:1px;}
.my_class_card_con ul
{ width:95%; margin:0 auto;}
.my_class_card_con ul li
{ width:100%; padding-top:1em; padding-bottom:1em; border-bottom:1px solid #e1e1e1; position:relative;}
.my_class_card_con ul li a.posa
{ position:absolute; right:0.5em; bottom:0.8em;}
.my_class_card_con ul li table
{ width:100%;}
.my_class_card_con ul li table td
{ font-size:1em; color:#666666; text-align:left; line-height:1.5em;}
.my_class_card_con ul li table td.tttd
{ font-size:1.2em; text-align:right; color:#4d4f61;}
.my_class_card_con ul li table td.tttd3
{ width:5em; text-align:right;}
.my_class_card_con ul li table td.tttd2
{ font-size:1.2em;}
.my_class_card_con ul li table td.ttr
{ text-align:right;}
.my_class_card_con ul li.nobotboder
{ border-bottom:none;}
.my_class_card_con ul li table td span
{ color:#e54937;}
.my_class_card_con ul li table td font
{ color:#f98700;}
.my_class_card_con ul li table td b
{ color:#009900; font-weight:normal;}
.my_class_card_con ul li table td a
{ display:block; text-align:center; width:4em; font-size:1em; margin-right:0.3em; margin-top:1em; color:#fff;  text-decoration:none; line-height:1.7em; float:right; background:#e54937;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
.my_class_card_con ul li table td a.gary
{ background:#404040;}


.my_classlist2
{ width:100%; width:100%; clear:both; border-top:1px solid #e1e1e1; }
.my_classlist2 textarea
{ width:90%; display:block; margin:0 auto; height:8em; border:1px solid #e1e1e1; background:none;}
.my_classlist2 p.my_classlist2_msg
{ font-size:1em; width:90%; margin:0 auto; line-height:1.5em;}
.my_classlist2 p.my_classlist2_msg span
{ color:#de3135;}
.my_classlist2 p.btnp
{ width:90%; margin:0 auto;}
.my_classlist2 p.btnp a
{ display:block; float:right; width:30%; text-align:center; font-size:1.2em; color:#fff; text-decoration:none; background:#de3135; line-height:2.5em;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
.my_classlist2 ul
{ width:100%;}
.my_classlist2 ul li
{ width:100%; padding-top:1.5em; padding-bottom:1.5em; border-bottom:1px solid #e1e1e1;}
.my_classlist2 ul li p
{ width:90%; margin:0 auto; font-size:1.1em; line-height:1.6em; color:#4d4f61;}
.my_classlist2 ul li p span
{ color:#666666;}
.my_classlist2 ul li a
{ display:block; width:2.5em; font-size:1.2em; line-height:1.5em; color:#fff; text-decoration:none; background:#404040;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px; text-align:center; float:right; margin-top:-1.3em; }
.classlist4
{ width:100%; clear:both; border-top:1px solid #e1e1e1;}
.classlist4 ul.classlist4_ul1
{ width:100%; clear:both;}
.classlist4 ul.classlist4_ul1 li.classlist4_li1
{ font-size:1.3em; line-height:2em; background:#f5f5f9;}
.classlist4 ul.classlist4_ul1 li.classlist4_li1 img
{ display:inline-block; height:1em; width:auto;}
.classlist4 ul.classlist4_ul1 li.classlist4_li1 p.classlist4_p1
{ width:100%; margin:0 auto; text-indent:1em; border-bottom:1px solid #e1e1e1; padding-top:0.3em; padding-bottom:0.3em;}
.classlist4 ul.classlist4_ul1 li.classlist4_li1 p.classlist4_p1 span
{ font-size:0.8em; display:inline-block; float:right; margin-right:1em;}
.classlist4 ul.classlist4_ul1 li.cur1 p
{ background:url(images/classitem2.png) no-repeat 1em bottom; background-size:auto 15%;}

.classlist4 ul.classlist4_ul2
{ width:100%; clear:both; display:none;}
.classlist4 ul.classlist4_ul2 li.classlist4_li2 
{ font-size:0.9em; line-height:2em; background:#f5f5f9; border-bottom:1px solid #e1e1e1; color:#4d4f61;}
.classlist4 ul.classlist4_ul2 li.classlist4_li2 p.classlist4_p2
{ width:100%; background:url(images/classitem4.png) no-repeat 1em 1em; background-size:1em 1em; font-size:1em; text-indent:2.2em; line-height:2em; padding-top:0.5em; padding-bottom:0.5em; }
.classlist4 ul.classlist4_ul2 li.classlist4_li2 p.cur2
{background:url(images/classitem3.png) no-repeat 1em 1em;background-size:1em 1em;}

.classlist4 ul.classlist4_ul3
{ width:100%; clear:both; display:none;}
.classlist4 ul.classlist4_ul3 li
{ width:100%; clear:both; border-bottom:1px solid #e1e1e1; background:#f1f1f7; font-size:1em; padding-top:0.5em; padding-bottom:0.5em; color:#4d4f61;}
.classlist4 ul.classlist4_ul3 li span
{ display:inline-block; width:70%; font-size:0.9em; background:url(images/classitem5.png) no-repeat 1.2em 0.7em; text-indent:2.1em; background-size:0.7em 0.7em;}
.classlist4 ul.classlist4_ul3 li a
{ display:inline-block; width:5em; font-size:1em; line-height:1.5em; background:#e54937;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px; text-align:center; color:#fff; text-decoration:none; float:right; margin-right:0.5em; margin-top:0.5em;}
/*---------- My class End------(17)----------------------------------*/

/*--------Account---(18)-----*/
.rega1
{ display:block; width:90%; margin:0 auto; text-align:center; color:#fff; background:#f98700; font-size:1.2em; line-height:1.5em;-moz-border-radius: 5px;-webkit-border-radius: 5px; text-decoration:none; padding-top:0.5em; padding-bottom:0.5em;}
.rega2
{ background:#de3135;}
.regp1
{ width:90%; margin:0 auto; font-size:1.2em; line-height:2em; text-align:right; padding-top:1em;}
.regp1 a
{ color:#333; text-decoration:none; font-size:1.2em; }
.account_infotop
{ width:100%; clear:both;}
.account_infotop img
{ display:block; width:15%; height:auto; float:left; margin-left:5%; margin-top:1em;-moz-border-radius: 5px;-webkit-border-radius: 5px; }
.account_infotop .account_infotop_right
{ width:80%; float:left;}
.account_infotop .account_infotop_right p
{ color:#4d4f61; font-size:1.2em; line-height:1.5em; text-indent:5%; padding-top:0.5em;}
.account_infotop .account_infotop_right p a
{ display:inline-block; float:left; line-height:2.3em; width:6em; color:#fff; background:#de3135; margin-left:5%; text-decoration:none;-moz-border-radius: 5px;-webkit-border-radius: 5px; }
.account_infotop .account_infotop_right p a.yel
{ background:#f98700;}

.account_money_input
{ width:100%; background:#f3f3f8; padding-top:1em; padding-bottom:1.5em;}
.account_money_input span
{ padding-left:2em; font-size:1.2em;}
.account_money_input input
{ background:#f3f3f8; border:1px solid #e1e1e1; line-height:2em;}
.account_money_input p
{ width:100%; clear:both; font-size:0.9em; padding-top:0.5em;}
.account_money_input p span
{ color:#e54937; padding-left:7em;}
.regyz1
{ width:70%; padding-left:30%; font-size:1em; line-height:1.5em; color:#ababab; background:url(images/regyz1.jpg) no-repeat 25%; background-size:auto 1em;}
.regyz2
{ width:70%; padding-left:30%; font-size:1em;line-height:1.5em; color:#eb4131; background:url(images/regyz2.jpg) no-repeat 25%;background-size:auto 1em;}
.regyz3
{ width:70%; padding-left:30%; font-size:1em;line-height:1.5em; color:#28c63a; background:url(images/regyz3.jpg) no-repeat 25%;background-size:auto 1em;}
.regp2
{ width:90%; margin:0 auto; text-align:right; padding-top:1.5em;}
.regp2 a
{ color:#45474c; text-align:center; font-size:1.2em; text-decoration:none;}
/*--------Account End---(18)-----*/


/*------School--(19)-----------------*/
.school_list
{ width:100%; clear:both; border-top:1px solid #e1e1e1;}
.school_list ul.school_listul1
{ width:100%;}
.school_list ul.school_listul1 li.school_listli1
{ background:#f1f1f6;  }
.school_list ul.school_listul1 li.school_listli1 p.school_listp1
{ width:100%; font-size:1.2em; line-height:2em; color:#666666; text-indent:1em; padding-top:0.5em; padding-bottom:0.5em;border-bottom:1px solid #e1e1e1;}
.school_list ul.school_listul1 li.school_listli1 p.school_listp1 span
{ display:inline-block; float:right; margin-right:1em;}
.school_list ul.school_listul1 li.school_listli1 ul.school_listul2
{ width:100%; clear:both;}
.school_list ul.school_listul1 li.school_listli1  .school_listli1_con
{ width:100%; clear:both; display:none;}
.school_list ul.school_listul1 li.school_listli1 ul.school_listul2 li
{ width:100%; clear:both; background:#fff;}
.school_list ul.school_listul1 li.school_listli1 ul.school_listul2 li h2
{ width:100%; font-size:1.1em; line-height:3em; background:url(images/pro_listTop.gif) repeat-x #eaeaf2;}
.school_list ul.school_listul1 li.school_listli1 ul.school_listul2 li h2 span
{ display:block; width:30%; clear:both; height:3em; line-height:3em; text-align:center; margin-left:0.5em; border-top:1px solid #ef491f; color:#4d4f61;}
.school_list ul.school_listul1 li.school_listli1 ul.school_listul2 li p
{ width:90%; margin:0 auto; color:#666666; font-size:1.1em; line-height:1.5em; }
a.upa
{ clear:both; display:block; width:100%; text-align:center; color:#4d4f61; font-size:1.1em; text-decoration:none; line-height:1.5em; padding-top:1em; padding-bottom:1em; border-bottom:1px solid #e1e1e1; border-top:1px solid #e1e1e1; background:#f5f5f9;}
a.upa img
{ width:1em; padding-left:0.3em;}
.school_list ul.school_listul1 li.school_listli1 .uparoom
{ clear:both; height:1em; width:100%; background:#fff;}
/*------School End--(19)-----------------*/


/*--all Footer---*/
.footer
{ width:100%; background:#45474c; clear:both; padding-top:0.6em; padding-bottom:0.6em;}
.footer ul
{ width:80%; margin:0 auto;}
.footer ul li
{ width:25%; font-size:1em; float:left; text-align:center;}
.footer ul li a
{ color:#fff; text-decoration:none;}
.footer p
{ width:100%; text-align:center; color:#fff; clear:both;}

.stafooter
{ width:100%; background:#f5f5f9; border-bottom:1px solid #cbcaca; position:fixed; bottom:0px;}
.stafooter ul
{ width:100%;}
.stafooter ul li
{ display:block; width:20%; float:left; font-size:1em; line-height:3em; text-align:center;}
.stafooter ul li a
{ color:#2a2a32; text-decoration:none;}

.jumpdiv
{ width:20%; position:absolute; right:0; bottom:3em; background:#f5f5f9; display:none;}
.jumpdiv ul
{ width:100%;}
.jumpdiv ul li
{ clear:both; width:100%; float:none; font-size:1em; line-height:3em; text-align:center; border-bottom:1px dotted #e1e1e1;}

/*--all Footer end---*/