<div class="minL">
        	<b class="ttBox1">网络课堂</b>
            <div class="bd minLHd">
            	<b class="ttBox2">我的课堂<span class="ttBoxIcon"></span></b>
                <div class="minLNav">
                    <ul>
                        <li><a href="#">我的网络课程</a></li>
                        <li><a href="#">我的课堂笔记</a></li>
                        <li><a href="#">我的课程讲义</a></li>
                        <li><a href="#">我的课后作业</a></li>
                        <li><a href="#">我的复习计划</a></li>
                        <li><a href="#">我的问题答疑</a></li>
                        <li><a href="#">我的导学记录</a></li>
                    </ul>
                </div>
            	<b class="ttBox2">我的账户<span class="ttBoxIcon"></span></b>
                <div class="minLNav">
                    <ul>
                        <li><a href="#">我的订单记录</a></li>
                        <li><a href="#">我的账户记录</a></li>
                        <li><a href="#">我要在线充值</a></li>
                        <li><a href="#">我要注卡</a></li>
                    </ul>
                </div>
                <b class="ttBox2">我的设置<span class="ttBoxIcon"></span></b>
                <div class="minLNav">
                    <ul>
                        <li><a href="#">个人信息</a></li>
                        <li><a href="#">修改密码</a></li>
                    </ul>
                </div>
                <b class="ttBox2">消息中心<span class="ttBoxIcon"></span></b>
                <div class="minLNav">
                    <ul>
                        <li><a href="#">系统通知</a></li>
                    </ul>
                </div>
            </div>
        
        </div>